@{
    ViewBag.Title = "article";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">

        <h2>article</h2>


        @Html.Raw(ViewBag.Article)
    </div>
</div>
