@{
    ViewBag.Title = "ConfirmedNaForm";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="white-bg">
    <div class="container">
        <h1>Thank You For Submitting the Form</h1>

        <p>Our team will review it soon!</p>
    </div>
</div>