@model SoberModel.cs_Content

@{
   
    Layout = "~/Views/Shared/_Master.cshtml";
    
}

<div class="section wrap-s">
    <ul class="breadcrumbs-s">
        <li class="first"><a href="">Home</a></li>
        <li><a href="">Directory Listings</a></li>
    </ul>
    <div class="page-contents-s">
        <h1 class="main-title-s">Drug And Alcohol Treatment Centers in Indiana</h1>
        <div class="search-results-cont-s">
            <div class="left-s">
                <div class="filters-s">
                    <div class="head-s">Filter by</div>
                    <ul class="filter-form-s">
                        <li>
                            <label class="label-s">Zip Code</label>
                            <input type="text" />
                        </li>
                        <li>
                            <label class="label-s">Distance</label>
                            <select class="styled">
                                <option></option>
                            </select>
                        </li>
                        <li>
                            <label class="label-s">Show Only</label>
                            <input type="radio" id="local" class="rad-btn-s" />
                            <label for="local" class="rad-btn-label-s">Local Firms</label><br />
                            <input type="radio" id="ads" class="rad-btn-s" />
                            <label for="ads" class="rad-btn-label-s">
                                National advertisers & local firms<label>
                        </li>
                        <li>
                            <label class="label-s">City</label>
                            <div class="city-alpha-select-s">
                                <select class="styled">
                                    <option>All</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                    <option>E</option>
                                    <option>F</option>
                                    <option>G</option>
                                </select>
                            </div>
                            <ul class="cities-s">
                                <li>Albion</li>
                                <li>Anderson</li>
                                <li>Angola</li>
                                <li>Auburn</li>
                                <li>Avon</li>
                                <li>Batesville</li>
                                <li>Bedford</li>
                                <li>Beech Grove</li>
                            </ul>
                            <label class="btn_more">More...</label>
                            <label class="btn_less">Less...</label>
                        </li>
                        <li>
                            <input type="submit" value="Filter" class="btn"></li>
                    </ul>
                </div>
                <div class="ads-cont-s">
                    <div>
                        <img src="" />
                    </div>
                    <div>
                        <img src="" />
                    </div>
                </div>
            </div>
            <div class="middle-s">
                @Html.Raw(HttpUtility.HtmlDecode(@Model.FormattedBody));
            </div>

        </div>
    </div>
</div>
