@model int

<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='@Model'></div>

<style type="text/css">
    .shareaholic-canvas .shareaholic-share-buttons-container .shareaholic-share-buttons-wrapper ul.shareaholic-share-buttons {
        margin: 0 auto !important;
        padding: 0px 0px 0px 0px !important;
    }
</style>