@{
    ViewBag.Title = "_contactus_acknowledgement";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <h2>&nbsp;&nbsp; Thank you for Contacting. Some one will get back to you shortly.</h2>
    </div>
</div>
