@{
    SoberBLL.ListingCategories categoryTypes = new SoberBLL.ListingCategories();
    var categoryList = categoryTypes.GetListingCategoryNames();
    var states = SoberModel.States.GetAllStates();
}

<div class="row">
    <div class="col-md-3">
        @Html.DropDownList("FacilityType", new SelectList(categoryList), "State", new { @class = "selectpicker" })
    </div>

    <div class="col-md-3">
        @Html.DropDownList("States", new SelectList(states, "StateName", "StateAbbreviation"), "State", new { @class = "selectpicker" })
    </div>
    <div class="col-md-3">
        <input id="Address" type="text" class="form-control pin" placeholder="City and/or Zipcode" />
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" onclick="Search();">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Change Category", "index", "directory", null, null)
        &nbsp; | &nbsp;
        @Html.ActionLink("Advanced Search", "advancedsearch", "directory", null, null)
    </div>
</div>

@*For autocomplete*@
<script type="text/javascript">
    function autocomplete() {
        var autocomplete;
        var input = document.getElementById('Address');
        var options = {
            componentRestrictions: { country: 'us' }
        };
        autocomplete = new google.maps.places.Autocomplete(input, options);
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&callback=autocomplete';
        document.body.appendChild(script);
    }

    window.onload = loadScript;

</script>