@{
    
    var states = SoberModel.States.GetAllStates();
    if (ViewBag.SelectedPayment != null)
    {
        states = SoberModel.States.GetAllStatesForPaymentType(ViewBag.SelectedPayment);
    }
    string facility_type = ViewBag.FacilityType;
    string selectedPayment = "";
    if (ViewBag.FacilityAbbreviation != null)
    {
        selectedPayment = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(ViewBag.FacilityAbbreviation);
    }
}

<h5>By State</h5>
<ul>

    @if (ViewBag.SelectedCategory != null)
    {
        foreach (var item in states)
        {
            <li>@Html.ActionLink(item.StateName + "(" + item.Count + ")", "listings", "directory", new { address = item.StateName.ToLower(), rehab = facility_type.ToLower() }, null)</li>
        }
    }
    @if (ViewBag.SelectedCategory == null)
    {
        foreach (var item in states)
        {
            <li>@Html.ActionLink(item.StateName, "listings", "directory", new { address = item.StateName.ToLower(), rehab = facility_type.ToLower() }, null)</li>
        }
    }
</ul>
