@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">

        @using (Ajax.BeginForm("forgotpassword", new { email = ViewBag.Email }, new AjaxOptions { UpdateTargetId = "sign-in-div" }))
        {
            if (ViewBag.ShowConfirmation == null)
            {
                <h2>Forgot your password?</h2>
                
                <div class="row">
                    <div class="err-msg col-md-12">
                        @ViewBag.ErrMsg
                    </div>

                    <div class="col-md-12 required form-group">
                        <label>Email<span>*</span></label>
                        @Html.TextBox("Email", ViewBag.Email as string, new { @class = "form-control" })<br />
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="submit" value="Email Link" class="btn btn-primary" />
                    </div>
                </div>
            }
            else
            {
                <h2>Email Sent.</h2>
                <p>Please check your email to reset your Password.</p>
            }
        }
    </div>
</div>