@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li class="active">Mobile Privacy Policy</li>
        </ol>

        <h1>Sober.com Rehab Finder- 73422</h1>

        <p>Sober.com Rehab Finder provides end-users the ability and opportunity to connect with sobriety rehabilitation resources quickly. Those who opt in will receive a phone call within minutes of their opt-in message. By opting into Sober.com Rehab Finder, the end-user agrees to receive pre-written marketing messages from or on behalf of Sober.com.com via short code 73422, and understands that consent is not a condition of purchase.</p>

        <h2>Program Terms and Conditions</h2>

        <p>This is a standard rate SMS program and <b>message and data rates may apply.</b> </p>

        <p>Sober.com Rehab Finder <b>subscribers will receive up to two messages per query</b>, followed by a phone call from a Sober representative. Click to view our @Html.ActionLink("Privacy Policy", "index", "mobile_privacy") or Sober.com's @Html.ActionLink("Terms and Conditions", "index", "mobile_terms_and_conditions")&#46;</p>

        <h2>How to use the service</h2>

        <p>Opt-Out </p>

        <p><b>To cancel your Sober.com Rehab Finder subscription, send STOP, QUIT, END, CANCEL, or UNSUBSCRIBE to 73422 to opt out of all services.</b> After opting out, end-users must wait a minimum of one hour before opting into Sober.com Rehab Finder again.</p>

        <p>For Help </p>

        <p><b>Send HELP to 73422 at any time to receive program contact information.</b></p>

        <p>Opt-In </p>

        <p>Send a text to 73422 to receive two messages and be contacted by phone by the rehab or treatment center that best fits your needs, courtesy of Sober.com Rehab Finder. The more information you give the better!</p>

        <p>Active Keywords </p>

        <p>SOBER, HELP, STOP, QUIT, END, CANCEL, UNSUBSCRIBE, User may also text in comment or inquiry to initiate a reply.</p>

        <h2>Contact Us</h2>

        <p>If you have additional questions or comments, please contact us by email at support@sober.com or by phone at 800-937-3337.</p>

        <h2>Supported Carriers</h2>

        <p>Sober.com Rehab Finder is available on the following carriers: AT&amp;T, Sprint, T-Mobile, Verizon Wireless, and others.</p>       

    </div>
</div>