
@{
    ViewBag.Title = "advertising";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li class="active">About</li>
        </ol>
        <div class="row">
            <div class="col-md-12"><h2>About Us</h2></div>
            <div class="col-md-12">
                <h5>About Sober.com</h5>
                <p>Sober.com is dedicated to fighting the stigma and the disease of alcoholism and other drug addictions by providing education, information, help and hope to the public. Sober.com is the best website for addicts, their families and loved ones to go to in order to effectuate the best treatment and care and the best financial and clinical fit available anywhere.</p>
                <p>Soberhouses.com (sober.com) went online in December 2000. The project originated out of the need to have accurate, up-to-date, quick access to information for referrals into treatment programs, detoxification centers, halfway houses, sober houses and as a substantial method for assisting men and women with pre and post addiction treatment discharge. When the company first started, the printed directories available to the "addicted consumer" often were out of date and once lent out or borrowed failed to be returned. After extensive research, resources were discovered on different search engines that many facilities did and still do not have a web presence. Thus, the people who needed the help the most were unable to discover where to go to find it. Until soberhouses.com (sober.com) came into being, the addiction and recovery industry did not have a comprehensive web presence and information was terribly fragmented. Soberhouses.com (sober.com) was and still is a pioneer in the industry: which had no web portal to call its own for advertising and marketing of products and services - until soberhouses.com (sober.com) invented one. A person could find some miscellaneous information on other fragmented directories. There was no systemic organization of this information anywhere in the world. The soberhouses.com (sober.com) goal of filling this vacuum and providing the industry a user friendly, free access site for professional and consumers to shop for much needed resources came into fruition.</p>
            </div>
            <div class="col-md-12">
                <h5>Our Founder</h5>
                <p>Dr.Harold Jonas - <strong>PhD, LMHC, CAP, ICADC</strong></p>
                <p>
                    'Jonas’, conceptualized and initiated the original www.soberhouses.com directory in 2000, going LIVE with the project in December. He has celebrated 20 years of personal recovery and has spent all of them in the industry. His origins and passion as a trained professional counselor have led him to create and operate multiple business ventures aimed at assisting the addiction and recovery population. Most notably growing soberhouses.com into a comprehensive portal for recovery renamed www.sober.com. Other ventures in operation include the 'recovery destination' at the
                    <a target="_blank" href="http://www.delrayinn.com/">Delray Inn</a>
                    ,
                    <a target="_blank" href="http://www.koffeeokee.com/">Koffeeokee</a>
                    ,
                    <a target="_blank" href="http://www.recoveryzones.com/"> Recovery Zone</a>
                    , and
                    <a target="_blank" href="http://www.interventionstrategies.com/"> Intervention Strategies</a>
                    . Dr. Jonas is a well known and highly respected innovator of utilizing technology in recovery.
                    <a href="/about/harold-jonas.html">Read more about Dr Harold Jonas.</a>
                </p>
            </div>
            <div class="col-md-12">
                <h2>Link to Us</h2>
                <p>Help spread the word. Add a link on your website to Sober.com, & give visitors once-click access to a valuable resource.</p>
                <p><strong>To place a link in your website to Sober.com, simply choose from those listed below, copy the link's code and paste it into a page on your site.Enjoy!</strong></p>
            </div>
            <div class="col-md-6">
                <h5>Find a Drug Rehab</h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/directory/Drug+and+Alcohol+Treatment+Centers/default.html"&gt;Find a Drug Rehab &lt;/a&gt;
</code></pre>
                    <p>Test Link <a href="http://www.sober.com/directory/Drug+and+Alcohol+Treatment+Centers/default.html" target="_blank">Find a Drug Rehab</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Find Halfway House</h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/directory/Halfway+Houses/default.html"&gt;Find Halfway House &lt;/a&gt;
</code></pre>
                    <p>Test Link <a href="http://www.sober.com/directory/Halfway+Houses/default.html" target="_blank">Find Halfway House</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Addiction Help</h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/"&gt;Addiction Help &lt;/a&gt;
</code></pre>
                    <p>Test Link <a href="http://www.sober.com/" target="_blank">Addiction Help</a></p>
                </div>
            </div>
            @*<div class="col-md-6">
                <h5>Recovery Coaching</h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/coaching/default.html"&gt;Recovery Coaching &lt;/a&gt;
</code></pre>
                    <p>Test Link <a href="http://www.sober.com/coaching/default.html" target="_blank">Recovery Coaching</a></p>
                </div>
            </div>*@
            <div class="col-md-6">
                <h5>Find a Drug Detox Center</h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/facilities/detox_centers"&gt;Find a Drug Detox Center &lt;/a&gt;
</code></pre>
                    <p>Test Link <a href="http://www.sober.com/facilities/detox_centers" target="_blank">Find a Drug Detox Center</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Find an Eating Disorder Clinic</h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/directory/Eating+Disorders/default.html"&gt;Find an Eating Disorder Clinic &lt;/a&gt;
</code></pre>
                    <p>Test Link <a href="http://www.sober.com/directory/Eating+Disorders/default.html" target="_blank">Find an Eating Disorder Clinic</a></p>
                </div>
            </div>

            <div class="col-md-12">
                <h5>Drug Rehab Treatment <span>120 x 60</span></h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/"&gt;&lt;img src="http://www.sober.com/themes/sober/images/Ads/sober-120x60.gif" width="120" height="60" border="0" alt="Drug Rehab Treatment"&gt;&lt;span style="display:none"&gt;Drug Rehab Treatment&lt;/span&gt;&lt;/a&gt;
</code></pre>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Drug Rehab Treatment <span>120 x 90</span></h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/"&gt;&lt;img src="http://www.sober.com/themes/sober/images/Ads/sober-120x90.gif" width="120" height="90" border="0" alt="Drug Rehab Treatment"&gt;&lt;span style="display:none"&gt;Drug Rehab Treatment&lt;/span&gt;&lt;/a&gt;
</code></pre>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Drug Rehab Treatment <span> 125 x 125</span></h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/"&gt;&lt;img src="http://www.sober.com/themes/sober/images/Ads/sober-125x125.gif" width="125" height="125" border="0" alt="Drug Rehab Treatment"&gt;&lt;span style="display:none"&gt;Drug Rehab Treatment&lt;/span&gt;&lt;/a&gt;
</code></pre>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Drug Rehab Treatment <span> 234 x 60</span></h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/"&gt;&lt;img src="http://www.sober.com/themes/sober/images/Ads/sober-234x60.jpg" width="234" height="60" border="0" alt="Drug Rehab Treatment"&gt;&lt;span style="display:none"&gt;Drug Rehab Treatment&lt;/span&gt;&lt;/a&gt;
</code></pre>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Drug Rehab Treatment <span> 300 x 250</span></h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/"&gt;&lt;img src="http://www.sober.com/themes/sober/images/Ads/sober-300x250.jpg" width="300" height="250" border="0" alt="Drug Rehab Treatment"&gt;&lt;span style="display:none"&gt;Drug Rehab Treatment&lt;/span&gt;&lt;/a&gt;
</code></pre>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Drug Rehab Treatment <span> 160 x 600</span></h5>
                <div class="code">
                    <pre><code>&lt;a href="http://www.sober.com/"&gt;&lt;img src="http://www.sober.com/themes/sober/images/Ads/sober-160x600.jpg" width="160" height="600" border="0" alt="Drug Rehab Treatment"&gt;&lt;span style="display:none"&gt;Drug Rehab Treatment&lt;/span&gt;&lt;/a&gt;
</code></pre>
                </div>
            </div>

        </div>
    </div>
</div>
