@{
    ViewBag.Title = "advertising";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("index", "home")">Home</a></li>
                <li class="active">Advertising</li>
            </ol>
        </div>
        <div class="row">
            <div class="text-left">
                <h2>Why advertise on Sober.com?</h2>
                <div class="advertise-underline"></div>
            </div>
            <div class="col-xs-12 why-advertise-sober">
                <div class="col-xs-12 col-sm-4 why-sober">
                    <div class="col-xs-12 col-sm-3 text-center main-icon">
                        <img src="~/Images/Advertising/cost_effective.svg">
                    </div>
                    <div class="row-info col-xs-12 col-sm-9">
                        <h3>Cost Effective </h3>
                        <p>Rates start at as little as $6.50 per day. Much less than pay per click ads.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 why-sober">
                    <div class="col-xs-12 col-sm-3 text-center main-icon">
                        <img src="~/Images/Advertising/colective_marketing_tool.svg">
                    </div>
                    <div class="row-info col-xs-12 col-sm-9">
                        <h3>Collective Marketing Tool </h3>
                        <p>You will gain national, regional and local exposure</p>
                    </div>
                </div>
                <div class="col-xs-12  col-sm-4 why-sober">
                    <div class="col-xs-12 col-sm-3 text-center main-icon">
                        <img src="~/Images/Advertising/brand_awareness.svg">
                    </div>
                    <div class="row-info col-xs-12 col-sm-9">
                        <h3>Brand Awareness</h3>
                        <p>Great exposure for you on the most trusted recovery website</p>
                    </div>
                </div>
            </div>
            <div class="subtitle-sober">
                <h4>We are growing!</h4>
                <div class="img-traffic">
                    <img class="col-xs-12 col-sm-6 img-responsive" src="~/Images/Advertising/3x_traffic.png">
                    <img class="col-xs-12 col-sm-6 img-responsive" src="~/Images/Advertising/75_growth.png">
                </div>
                <div class="subtitle-margin">
                    <div class="sober-info">
                        <img class="hidden-xs" src="~/Images/Advertising/arrow_blue.svg">
                        <p>Sober.com has been online since 2000 and is the oldest drug and alcohol rehab site on the internet.</p>
                    </div>
                    <div class="sober-info">
                        <img class="hidden-xs" src="~/Images/Advertising/arrow_blue.svg">
                        <p>We are dedicated to combating the disease of addiction and the attached stigma by providing information, education and hope to the public.</p>
                    </div>
                </div>
            </div>
            <div class="text-left">
                <h2>Advertising Options</h2>
                <div class="options-underline"></div>
            </div>
            <div class="subtitle-margin">
                <div class="subtitle-sober">
                    <h4>Sober calls</h4>
                </div>
                <div class="sober-info">
                    <img class="hidden-xs" src="~/Images/Advertising/arrow_blue.svg">
                    <p>Sober.com has been online since 2000 and is the oldest drug and alcohol rehab site on the internet.</p>
                </div>
            </div>
            <div class="subtitle-margin">
                <div class="subtitle-sober">
                    <h4>Premium Listing (available by state, region or national)</h4>
                </div>
                <div class="sober-info">
                    <img class="hidden-xs" src="~/Images/Advertising/arrow_blue.svg">
                    <p>Link to Website</p>
                </div>
                <div class="sober-info">
                    <img class="hidden-xs" src="~/Images/Advertising/arrow_blue.svg">
                    <p>Contact form for consumers to reach out to you directly</p>
                </div>
                <div class="sober-info">
                    <img class="hidden-xs" src="~/Images/Advertising/arrow_blue.svg">
                    <p>Graphic logo (120x60)</p>
                </div>
                <div class="sober-info">
                    <img class="hidden-xs" src="~/Images/Advertising/arrow_blue.svg">
                    <p>3,000 character narrative about your facility</p>
                </div>
            </div>

            <div class="subtitle-sober banners-subtitle">
                <h4>Banner sizes available on Sober.com</h4>
            </div>
            <div class="banners col-xs-12">
                <img class="img-responsive col-xs-4" src="~/Images/Advertising/banner1.svg">
                <img class="img-responsive col-xs-4" src="~/Images/Advertising/banner2.svg">
                <img class="img-responsive col-xs-4" src="~/Images/Advertising/banner3.svg">
            </div>
            <div class="text-left">
                <h2>Contact Us</h2>
                <div class="contact-underline"></div>
                <div class="subtitle-sober additional-information">
                    <h4>For additional information, please contact us at</h4>
                </div>
                <div class="contact-info">
                    <img src="~/Images/Advertising/mail.svg">
                    <p>clients AT sober.com </p>
                </div>
                <div class="contact-info">
                    <img src="~/Images/Advertising/telephone.svg">
                    <p>413-854-2579</p>
                </div>
            </div>
        </div>

    </div>
</div>