@{
    ViewBag.Title = "Our Sponsors";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li class="active">Our Sponsors</li>
        </ol>

        <div class="row faq-list">
            <div class="col-md-12">
                <h2>Our Sponsors</h2>
            </div>
            <div class="col-md-12">
                <p>
                    We are very indebted to the many wonderful companies who advertise on Sober.com and allow us to continue our contribution to the recovery community.
                    Please patronage these fine organizations whenever you need them along your journey:
                </p>
            </div>
            <div class="col-md-12">
                <h5>Detoxification</h5>
                <ul class="linked-list">
                    <li><a target="_blank" title="Clean &amp; Sober" href="http://bit.ly/Q513sO" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Clean & Sober Detox</a></li>
                    <li><a target="_blank" title="Gallus" href="http://bit.ly/V1RGx4" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Gallus Detox Centers</a></li>
                </ul>

                <h5>Hospitals</h5>
                <ul class="linked-list">
                    <li><a target="_blank" title="Adcare" href="http://bit.ly/Q51PWL" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Adcare</a></li>
                    <li><a title="Saint Vincent Health" href="http://bit.ly/14N81xq" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Saint Vincent Health</a></li>
                </ul>

                <h5>Recovery Housing (halfway houses, sober houses, independent living)</h5>
                <ul class="linked-list">
                    <li><a title="Avenues 12" href="http://bit.ly/SdIHV8">Avenues 12</a></li>
                    <li><a target="_self" title="Clean and Sober Living" href="http://bit.ly/XoR4Rv" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Clean and Sober Living</a></li>
                    <li><a target="_blank" title="CMR Recovery" href="http://bit.ly/Q52PtT" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">CMR Recovery Residence</a></li>
                    <li><a title="Full Recovery Wellness Center" href="http://bit.ly/XMglU9" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Full Recovery Wellness Center<br></a></li>
                    <li><a title="Hallway of Life" href="http://bit.ly/W2R7D4" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Hallway of Life</a></li>
                    <li><a title="Harmony House for Women" href="http://bit.ly/11nzrTi" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Harmony House for Women</a></li>
                    <li><a title="Healing Properties" href="http://bit.ly/14N81xq" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Healing Properties</a></li>
                    <li><a title="Lotus Recovery Residence" href="http://bit.ly/U3I73P" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Lotus Recovery Residence</a></li>
                    <li><a target="_blank" title="Milestone House" href="http://bit.ly/12cTR6l" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Milestone House</a></li>
                    <li><a target="_blank" title="New Friendships" href="http://bit.ly/Q52Xto" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">New Friendships</a></li>
                    <li><a target="_blank" title="Next Step Recovery" href="http://bit.ly/Vy3NFC" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Next Step Recovery House for Men</a></li>
                    <li><a target="_blank" title="Next Step for Men" href="http://bit.ly/XaKigz" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Next Step for Recovery Housing</a></li>
                    <li><a target="_blank" title="Next Step for Women" href="http://bit.ly/14tNOsE" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Next Step for Women</a></li>
                    <li><a target="_blank" title="Real Recovery" href="http://bit.ly/VwVbvE" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Real Recovery</a></li>
                    <li><a title="Seastone" href="http://bit.ly/11zKHyn" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Seastone of Delray</a></li>
                    <li><a target="_blank" title="Serenity Lodge" href="http://bit.ly/14AorWX" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Serenity Lodge</a></li>
                    <li><a target="_blank" title="Structured Living" href="http://bit.ly/W2YJp7" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Structured Living</a></li>
                    <li><a title="Sunshine House" href="http://bit.ly/Y28Hfb" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Sunshine House</a></li>
                    <li><a title="The Bridge" href="http://bit.ly/Vqv6fK" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">The Bridge</a></li>
                    <li><a target="_blank" title="Turning Point" href="http://bit.ly/WVg8jd" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Turning Point</a></li>
                </ul>

                <h5>Recovery Coaches, Doctors, & Therapists</h5>
                <ul class="linked-list">
                    <li><a target="_blank" title="Dr Pecoraro" href="http://bit.ly/STs7tQ" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Dr. Pecoraro</a></li>
                </ul>

                <h5>Treatment Centers</h5>
                <ul class="linked-list">
                    <li><a title="10 Acre Ranch" href="http://bit.ly/ZKSExI" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">10 Acre Ranch</a></li>
                    <li><a target="_blank" title="12 Palms Recovery" href="http://bit.ly/Vy6VBl" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">12 Palms Recovery Center</a></li>
                    <li><a title="A State of Mind" href="http://bit.ly/PayDeJ" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">A State of Mind</a></li>
                    <li><a target="_self" title="Destination Hope" href="http://bit.ly/Qs7kRq" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Destination Hope</a></li>
                    <li><a target="_blank" title="Dove Tree Ranch" href="http://bit.ly/QXH8vt" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Dove Tree Ranch</a></li>
                    <li><a title="FitRX" href="http://bit.ly/XUCyUL" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">FitRX</a></li>
                    <li><a title="Forterus" href="http://bit.ly/15GGih5" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Forterus</a></li>
                    <li><a target="_blank" title="Fellowship Hall" href="http://bit.ly/Qs7s3f" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Fellowship Hall</a></li>
                    <li><a target="_blank" title="Hope by the Sea" href="http://bit.ly/ZKSZk2" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Hope by the Sea</a></li>
                    <li><a title="Innovation 360" href="http://bit.ly/17gEwBG" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Innovation 360</a></li>
                    <li><a title="Greenhouse" href="http://bit.ly/YLSAh5" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Greenhouse</a></li>
                    <li><a title="Leading Edge" href="http://bit.ly/15GHnFG" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Leading Edge</a></li>
                    <li><a target="_blank" title="Memorial Hermann" href="http://bit.ly/XUDjgy" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Memorial Hermann</a></li>
                    <li><a target="_blank" title="New York Recovery Homes" href="http://bit.ly/WDJfJq" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">New York Recovery</a></li>
                    <li><a title="Paradigm Malibu" href="http://bit.ly/YLR1zw" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Paradigm Malibu</a></li>
                    <li><a target="_blank" title="Pathways Recovery" href="http://bit.ly/Vy8WNT" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Pathways Recovery</a></li>
                    <li><a title="Pat Moore Foundation" href="http://bit.ly/10bHLE1" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Pat Moore Foundation</a></li>
                    <li><a title="Prominence" href="http://bit.ly/14N7sDO" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Prominence</a></li>
                    <li><a title="Rebecca's House" href="http://bit.ly/11zJIhP" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Rebecca's House</a></li>
                    <li><a target="_blank" title="Ridgeview Institute" href="http://bit.ly/U3QDzV" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Ridgeview Institute</a></li>
                    <li><a target="_blank" title="Right Step" href="http://bit.ly/UGWZmq" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Right Step</a></li>
                    <li><a target="_blank" title="San Cristobal" href="http://bit.ly/11kYXNJ" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">San Cristobal</a></li>
                    <li><a title="Saint Jude Retreats" href="http://bit.ly/14N76gu" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Saint Jude Retreats</a></li>
                    <li><a title="Singer Island" href="http://bit.ly/11KSA1f" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Singer Island</a></li>
                    <li><a target="_blank" title="Spirit Lodge" href="http://bit.ly/14tSsab" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Spirit Lodge</a></li>
                    <li><a target="_blank" title="Timberline Knolls" href="http://bit.ly/U3RwIL" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Timberline Knolls</a></li>
                    <li><a target="_blank" title="Transformations" href="http://www.bit.ly/WVkQxo" onclick="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'Google']);">Transformations Treatment </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>