@model SoberModel.FamousAlumni
@{
    ViewBag.Title = "Edit Alumni";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <h1>Edit an Alumni:</h1>

        @using (Html.BeginForm("edit", "alumni", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.AlumniID)
            <div class="row">
                <div class="col-md-12 form-group required">
                    <label>Alumni Name<span>*</span>:</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <div class="col-md-12 form-group required">
                    <label>Alumni Image (gif,jpg,png)<span class="asterix">*</span>:</label>
                    @{
                        string alumniImage = "http://www.sober.com/contents//alumni/" + Model.Image;
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <img class="originalWidth" src="@alumniImage" />
                        </div>
                        <div class="col-md-12">
                            <input type="file" name="logo" accept="image/gif, image/jpeg, image/png" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button id="addinsr" class="btn btn-primary">Submit</button>
                </div>
            </div>
        }
    </div>
</div>