@{
    ViewBag.Title = "addlistingacknowledgement";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li class="active">Add Listing</li>
        </ol>

        <h2 class="panel box blue-bg">Thank you - You've successfully created your profile!</h2>

        
        <div class="row">
            <div class="col-md-6">
                <p>As a token of our appreciation, we would like to provide you with an exclusive one time offer to enhance your prominence on the new Sober.com website. For only $195 per year, you will receive:</p>
                <ul>
                    <li>
                        Prominent rotation on Sober.com's home page (the most valuable digital
                        real estate in the recovery industry)!
                    </li>
                    <li>Two SEO enhancing links to your site (from the home page AND your profile page.</li>
                    <li>A savings of $200.</li>
                </ul>
                <p>We will follow up with you to see if you would like to act now on this special offer.  So be looking for a follow up phone call from your program manager or feel free to contact him or her. Your program manager is:</p>
                <p>
                    <strong>Gordon Fol</strong><br />
                    Program Coordinator<br />
                    Sober.com<br />
                    413-854-2579  Office<br />
                    clients@sober.com
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/Images/home-sneak.jpg" />
                <p>A sneak peak of our new home page. Your profile will be shown in the most prominent place on sober.com</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/profile-sneak.jpg" />
            </div>
            <div class="col-md-6">
                <h5>Two SEO enhancing links to your site!</h5>
                <p>With a profile in sober.com you will receive two powerful traffic generating, SEO enhancing links back your website.</p>
                @*<a href="" class="paybtn"></a>*@
                <p>Regular cost is $395! Offer ends in 30 days so act now.</p>
            </div>
        </div>
    </div>
</div>