@model IEnumerable<SoberModel.Treatment_Center_Survey>

@{
    ViewBag.Title = "approve_treatment_house";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="content white-bg">
    <div class="container">
        <h2>Approve Treatment Centers</h2>

        @if (Model.Count() > 0)
        {
            foreach (var samhsaForm in Model)
            {
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" value="@samhsaForm.Treatment_Center_Name" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>@samhsaForm.CreatedOn</label>
                    </div>
                    <div class="col-md-3">
                        @Html.ActionLink("Approve Enhanced Profile", "approve_treatment_center", "directory", new { userId = @samhsaForm.User_Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            }
        }
        else
        {
            <label>No listings to approve</label>
        }
    </div>
</div>