@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li class="active">Directory Listings</li>
        </ol>

        <h1>The rehab you have been looking does not exist or is inactive.</h1>
    </div>
</div>