<rewriteMaps>
  <rewriteMap name="r1">
    <add key="/blogs/addictionrecovery" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/addictionrecoveryindustrynews/" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/addictionrecoveryindustrynews/archive/2009/11/16/heroin-addict-talks-of-d" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/addictionrecoveryindustrynews/archive/2010/10/19/town-hall-discussion-on-the-mental-health-needs-of-returning-military-members-to-be-hosted-by-capella-university-an-accredited-online-university-on-oct-26-in-clearwater-beach-flor" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/addictionrecoveryindustrynews/archive/2011/03/22/strokes-botch-comeback-bid-w%D1%96th-angles-bested-b%D1%83-rem-elbow-assess-bloomberg.aspx" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/changesinlatitude/archive/2007/11/28/Recovery-Coaching-and-the-Truth-about-Traditions.html" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/relationship_recovery/" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/relationship_recovery/archive/2007/11/26/introducing-the-relationship-model-of-addiction.html" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/relationship_recovery/archive/2007/11/26/no-intimate-relationships-during-the-first-year-of-sobriety.html" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/blogs/relationship_recovery/pages/no-intimate-relationships-during-the-first-year-of-sobriety.html" value="/blogs/addictionrecoveryindustrynews/default.aspx" />
    <add key="/content/accented_characters.html" value="/" />
    <add key="/content/bang_olufsen.html" value="/" />
    <add key="/FACILITIES.ASPX" value="/directory" />
    <add key="/masthead.cgi" value="/" />
    <add key="/sites/1stStepSoberHouse.html" value="/facilities/sober_houses" />
    <add key="/directory/Eating+Disorders/default.html" value="/facilities/eating_disorders" />
    <add key="/sites/alternativesinhousing.html" value="/directory" />
    <add key="/sober8/sober8_1.html" value="/" />
    <add key="/sober8/sober8_4.html" value="/" />
    <add key="/wload/" value="/" />
    <add key="/search/results/?q=my+husband+is+addicted%20" value="/directory" />
    <add key="/perl/modules/" value="/" />
    <add key="/photos/default.html" value="/" />
    <add key="/q" value="/" />
    <add key="/content/Alcohol-Rehab.aspx" value="/alcohol-rehab.html" />
    <add key="/content/Drug-Alcohol-Treatment-Center.aspx" value="/facilities/drug_alcohol" />
    <add key="/content/Drug-Rehab.aspx" value="/facilities/drug_alcohol" />
    <add key="/content/Addiction-Treatment.aspx" value="/addiction-treatment.html" />
    <add key="/content/Dual-Diagnosis.aspx" value="/facilities/drug_alcohol" />
    <add key="/content/Eating-Disorder.aspx" value="/facilities/eating_disorders" />
    <add key="/content/Adolescent-Treatment-Program.aspx" value="/adolescent-treatment-program.html" />
    <add key="/RESOURCES.ASPX" value="/directory" />
    <add key="/Alternative-Drug-Treatment.aspx" value="/Alternative+Drug+Rehab+Programs/default.html" />

    <add key="/Resources.News.Aspx?ArticleID=13" value="/directory" />
    
    <add key="/tools/am-i-alcoholic.html" value="/resources/alcoholic" />
    <add key="/tools/bac-alcohol-content-calculator.html" value="/resources/blood_alcohol_calculator" />
    <add key="/tools/sober-date-calculator.html" value="/resources/sober_calculator" />
    <add key="/directory/" value="/directory" />
    <add key="/directory/default.html" value="/directory" />
    <add key="/directory/drug+and+alcohol+treatment+centers" value="/facilities/drug_alcohol" />
    <add key="/dual-diagnosis.html" value="/facilities/drug_alcohol" />
    <add key="/eating-disorder.html" value="/facilities/eating_disorders" />
    <add key="/contact/default.html" value="/home/contact" />
    <add key="/privacy-policy/default.html" value="/home/privacy_policy" />
    <add key="/blood-alcohol-content.html" value="/resources/blood_alcohol_calculator" />
    <add key="/directory/bac-alcohol-content-calculator.html" value="/resources/blood_alcohol_calculator" />
    <add key="/directory/detox+centers.aspx" value="/facilities/drug_alcohol" />
    <add key="/directory/intervention+centers/default.html" value="/facilities/drug_alcohol" />
    <add key="/directory/modifytreatmenthouseacknowledgement" value="/facilities/drug_alcohol" />
    <add key="/directory/products/gifts+-+clothing+-+jewelry/default.html" value="/facilities/drug_alcohol" />
    <add key="/about/default.html" value="/home/about" />
    <add key="/default.html" value="/" />
    <add key="/default.aspx" value="/" />
    <add key="/tools/" value="/resources/alcoholic" />
    <add key="/advertising/default.aspx" value="/home/advertising" />
    <add key="/directory/add_list.html" value="/directory/addlisting" />
    <add key="/index.html" value="/" />
    <add key="/coaching/default.html" value="/" />
    <add key="/about/harold-jonas.html" value="/" />
    <add key="/Resources.Dictionary.Aspx" value="/" />
    <add key="/forums/default.html" value="/" />
  </rewriteMap>
</rewriteMaps>