<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--
      *** IMPORTANT NOTE: 
      Since version 1.9.2 the section name has changed from name="fileUpload" to name="backload" (see below). 
      The root element must also be changed in your config file from <fileUpload> to <backload>
      The ConfigurationSection class has changed to <section type="Backload.Configuration.BackloadSection ..." />
      
	  You can make the config settings in the web.config. Alternatively you can use a seperate config file
      as shown below in most examples. Just copy this section declaration with the appropriate configSource 
      attribute into your Web.config file.
      For more on config options and settings refer to the wiki on GitHub (https://github.com/blackcity/Backload) 
      or use the Web.Backload.Default.config file as a starting point.
-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="backload" type="Backload.Configuration.BackloadSection, Backload, Version=1.9, Culture=neutral, PublicKeyToken=02eaf42ab375d363" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SoberMVCEntities" connectionString="metadata=res://*/Listings.csdl|res://*/Listings.ssdl|res://*/Listings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sober.com;initial catalog=Sober_MVC;persist security info=True;user id=soberadmin;password=p0EyoY92t2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SurveyEntities1" connectionString="metadata=res://*/Surveys.csdl|res://*/Surveys.ssdl|res://*/Surveys.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sober.com;initial catalog=Sober_MVC;persist security info=True;user id=soberadmin;password=p0EyoY92t2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContentEntities" connectionString="metadata=res://*/Content.csdl|res://*/Content.ssdl|res://*/Content.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sober.com;initial catalog=Sober_MVC;persist security info=True;user id=soberadmin;password=p0EyoY92t2;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoberOldEntities" connectionString="metadata=res://*/SoberOldModel.csdl|res://*/SoberOldModel.ssdl|res://*/SoberOldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sober.com;initial catalog=Sober_MVC;persist security info=True;user id=soberadmin;password=p0EyoY92t2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlConnectionString" connectionString="Provider=SQLNCLI11; Data Source=sober.com;Password=p0EyoY92t2;User ID=soberadmin;Initial Catalog=Sober_MVC" providerName="System.Data.OleDb" />
    <add name="SqlConnectionString2" connectionString="Server=sober.com;Password=p0EyoY92t2;User ID=soberadmin;Database=Sober_MVC" />
    <add name="BACCalculatorEntities" connectionString="metadata=res://*/BAC.csdl|res://*/BAC.ssdl|res://*/BAC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sober.com;initial catalog=Sober_MVC;persist security info=True;user id=soberadmin;password=p0EyoY92t2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="recaptchaPublicKey" value="6LeKU-kSAAAAAI-fjV99Gn18MFa6n_wW9VP8Tosg" />
    <add key="recaptchaPrivateKey" value="6LeKU-kSAAAAAB5rQ93jBVN3Di3n0Ee6RPc0y-A7" />
    <!--Dev Site External Login Keys-->
    <!--<add key="facebookAppId" value="1477874739138563" />
    <add key="facebookAppSecret" value="6dff347b981deccf1755f18c854f7a5e" />
    <add key="twitterConsumerKey" value="J81NrnMUoGDm5b4YV2iiTQSts" />
    <add key="twitterConsumerSecret" value="aWICmsdpidKyNgzZ6hEf9K1DkIvj4i4Fe0LvTf6ubNdj91Kvpf" />-->

    <!--Prod Site External Login Keys-->
    <add key="facebookAppId" value="631330266975309" />
    <add key="facebookAppSecret" value="4dcda99d58696545f3fe0a6b955c46c0" />
    <add key="twitterConsumerKey" value="Ft2LAexeoxASgcVtY7fCPbmiu" />
    <add key="twitterConsumerSecret" value="5wruLXgpnCSZxMvKo9dHGjqbMW24KwfflmlEesQSOeqO8xay7o" />
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="MvcApplication4.Security.SoberMembershipProvider" />
      </providers>
    </membership>

    <roleManager defaultProvider="SqlRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="MvcApplication4.Security.SoberRoleProvider" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <!--90days-->
      <forms loginUrl="~/Account/Login" timeout="129600" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Recaptcha" />
      </namespaces>
    </pages>
    <customErrors mode="Off">
      <!--<error statusCode="404" redirect="~/Error/Error404" />-->
    </customErrors>
  </system.web>
  <system.webServer>
    <!--<urlCompression doStaticCompression="true" doDynamicCompression="true" />-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Permanent">
      <add wildcard="/directory/sex+addiction+treatment*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/outpatient+drug+rehabs*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/recovery+coaches*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/mental+health+centers*" destination="/facilities/drug_alcohol" />

      <add wildcard="/directory/gambling+addiction+treatment*" destination="/facilities/drug_alcohol" />

      <add wildcard="/directory/faith+based+drug+rehabs*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/elderly+drug+abuse+treatments*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/dual+diagnosis+centers*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/drug+relapse+preventions*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/drug+and+alcohol+treatment+centers*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/drug+addiction+counselors*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/sober+houses*" destination="/facilities/sober_houses" />
      <add wildcard="/directory/womens+treatment*" destination="/facilities/womens_treatment" />
      <add wildcard="/directory/affordable+treatment*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/chronic+pain+treatments*" destination="/facilities/drug_alcohol" />

      <add wildcard="/directory/mens+treatment*" destination="/facilities/mens_treatment" />
      <add wildcard="/directory/halfway+houses*" destination="/facilities/halfway_houses" />
      <add wildcard="/directory/extended+care+facilities*" destination="/facilities/extended_care" />
      <add wildcard="/directory/exclusive+drug+rehabs*" destination="/facilities/exclusive_rehabs" />

      <add wildcard="/directory/eating+disorder+treatment+centers*" destination="/facilities/eating_disorders" />
      <add wildcard="/directory/drug+detox+centers*" destination="/facilities/detox_centers" />
      <add wildcard="/directory/Drug+and+Alcohol+Detox+Centers*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/adolescent+services*" destination="/facilities/adolescent_treatment" />


      <add wildcard="/directory/alternative+drug+rehab+programs*" destination="/facilities/alternative_treatment" />
      <add wildcard="/directory/Dual+Diagnosis*" destination="/facilities/drug_alcohol" />
      <add wildcard="/directory/Mental+Health*" destination="/facilities/drug_alcohol" />


      <add wildcard="/directory/methadone-suboxone-doctors*" destination="/facilities/womens_treatment" />
      <add wildcard="/directory/family+treatment+centers*" destination="/facilities/drug_alcohol" />
      <add wildcard="/methadone-suboxone-doctors/doctors.aspx*" destination="/facilities/drug_alcohol" />

      <add wildcard="/mobile-privacy*" destination="/mobile_privacy" />
      <add wildcard="/mobile-terms-and-conditions*" destination="/mobile_terms_and_conditions" />

    </httpRedirect>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<modules runAllManagedModulesForAllRequests="true"></modules>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <rewrite>
      <rewriteMaps configSource="rewritemaps.config">

      </rewriteMaps>
      <rules>
        <!--<rule name="LowerCaseRule1" enabled="false" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>-->
        <rule name="Redirect for forums/thread/*">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_URL}" pattern="^/forums/thread/.*$" />
          </conditions>
          <action type="Redirect" url="/" appendQueryString="false" />
        </rule>
        
        <rule name="Redirect rule1 for r1">
          <match url=".*" />
          <conditions>
            <add input="{r1:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGeocodeService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IGeocodeService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService" contract="BingGeoService.IGeocodeService" name="BasicHttpBinding_IGeocodeService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_IGeocodeService" contract="BingGeoService.IGeocodeService" name="CustomBinding_IGeocodeService" />
    </client>
  </system.serviceModel>
  <!-- 
	<backload configSource="Web.Backload.config" /> 
  -->
</configuration>