@{
    ViewBag.Title = "ExceedPageVisit";
    Layout = "~/Views/Shared/_Master.cshtml";

    var expiration = Request.Cookies["block"] != null? Request.Cookies["block"].Value : DateTime.Now.ToString();
}

<div class="content white-bg">
    <div class="container">
        <div class="row">
            <h2>You have exceeded the total request per day. Come back at @expiration</h2>
        </div>
    </div>
</div>