@model PagedList.IPagedList<SoberModel.tbl_SamhsaListings>
@using PagedList.Mvc; 
@using SoberBLL.Directory;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h1>Index</h1>