@{
    ViewBag.Title = "Denied";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <h2>You are not authorized to access this area. Contact us if you think you have authorization.</h2>
    </div>
</div>