@{
    ViewBag.Title = "Verify Email Address";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div>
    <p style="margin-top: 20px;font:14px bold;">Email Confirmation</p>
    <ul>
        @if (ViewBag.tknConfirm != null)
        {
            if (ViewBag.tknConfirm == true)
            {
                <p>Thank you for confirming your email address. <a href="~/Account/Login">Please click here to Log in</a></p>
            }
            else
            {
                 <p>There was a problem registering you. Please re-check your email to complete your registration.</p>
            }
        }
        else
        { 
            <p>There was a problem registering you. Please re-check your email to complete your registration.</p>
        }
    </ul>
</div>
<
