@{
    ViewBag.Title = "User Review";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<style>
    .fb-share-button {
        transform: scale(1.5);
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform-origin: top left;
        -ms-transform-origin: top left;
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
        padding-top: 10px !important;
    }
</style>

<div class="content white-bg">
    <div class="container">
        @if (ViewData.Model["Ack"].Equals("pass"))
        {
            <h2><strong>Review Submitted Successfully!</strong></h2>
            <p>Thanks for posting the review. You're review will appear on the website post moderation. </p>
            <p>you can share the review on social media by clicking on one of the button below. </p>
            <div id="fb-root"></div>
            <div style="width: 500px;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="@Request.UrlReferrer.ToString()" data-size="large" data-count="none" data-dnt="true">Twitter</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                <br />
                <div class="fb-share-button" data-href="@Request.UrlReferrer.ToString()" data-layout="button" data-width="400px" title="Share with facebook">
                </div>
            </div>
        }
        else
        {
            <h2>There was a problem submitting your Review!!</h2>
            <p>Please try posting a review again.</p>
        }
    </div>
</div>

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=631330266975309&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
